<section class="subscribe-form">
    <h3 class="subscribe-form-title">Iscriviti {{@site.title}}</h3>
    <p class="subscribe-form-description">Ricevi gli ultimi articoli consegnati direttamente nella tua casella di posta</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="tuaemail@esempio.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Subscribe</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Great!</strong> Controlla la tua casella di posta e fai clic sul link per confermare l'abbonamento.
        </div>
        <div class="message-error">
            Si prega di inserire un indirizzo email valido!
        </div>
    </form>
</section>
